<!DOCTYPE html>
<html>
<head>
    <title>Relatório</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="card relatorio">

        <h1>📊 Relatório</h1>

        <p><strong>Total:</strong> R$ {{ total }}</p>
        <p><strong>Quantidade:</strong> {{ quantidade }}</p>
        <p><strong>Média:</strong> R$ {{ media }}</p>
        <p><strong>Maior venda:</strong> R$ {{ maior }}</p>

        <a href="/">⬅ Voltar</a>

    </div>
</div>

</body>
</html>